body {
 background-image: url(../../unit_3/images/ga.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
h1{
  color: white;
  font-family: helvetica;
  text-align: center;
  font-size: 72px;
}
