body {
 background-color: #16FCCA;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
h1{
  color: white;
  font-family: helvetica;
  text-align: center;
  font-size: 72px;
}
p {
  font-family: font-family: 'Titillium Web', sans-serif;
  font-size: 24px
}
