body {
 background-image: url("../../unit_3/images/marker.png")
}
h1{
  color: white;
  font-family: helvetica;
  text-align: center;
  font-size: 72px;
}
p {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-size: 24px
}
