body {
 background-image: url('../../unit_3/images/plant2.png')
}
h1{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 80px;
}
h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 36px;
}
p {
  color: white;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 24px
}
#list{
  width:45%
  padding: 1em;
   margin:0 auto;
}
li {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 24px
}
