@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Amatic+SC:700);

body {
  color: white;
  text-align: center;
  background: linear-gradient(#FFDDD8,#98FFB2);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.logo {
  height: 200px;
  width: 200px;
  position:relative;
  }
#gif {
  margin:3px;
  width: 12.500em;
  padding-bottom: 17.500em;
  height:0;
  left:0px;
  float:left;
  position:relative;
}
}
.giphy-embed {
  width:100%;
  height:50%;
  frameBorder:0;
  position:absolute;
}
#gif-1 {
  margin:3px;
  width: 12.500em;
  padding-bottom: 16.500em;
  height:0;
  left:0px;
  float:left;
  position:relative;
}
.giphy-embed-1 {
  width:100%;
  frameBorder:0;
  position:absolute;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
  margin-bottom: 25px;

}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}
p {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}
.ross {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: .5em 0 0 0;
}
.button {
  bottom: 0px;
  position: fixed;
  align: middle;
  margin: 0 auto;
}
#contact {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}
.stage {
  width: 300px; height: 300px;
  -webkit-perspective: 1600px;
  -webkit-perspective-origin: 50% -240px;
}
figure {
  display: block; position: absolute;
  width: 300px; height: 300px;
  background-color: #ffddd8;
  -webkit-transform-origin: 50% 50% 0;
  background-color: #eeeeee;
  background: url(../images/plant.png);
}
@-webkit-keyframes rotate {
  0% { -webkit-transform: rotateY(0); }
  100% { -webkit-transform: rotateY(360deg); }
}
.cube {
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotate 10s infinite linear;
}
.front {
  -webkit-transform: translateZ(150px);
  background: #e0e0e0 url(../images/plant.png) no-repeat;
}
.back {
  -webkit-transform: rotateY(180deg) translateZ(150px);
}
.top {
  -webkit-transform: rotateX(90deg) translateZ(150px);
}
.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(150px);
  -webkit-box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0);
}
.left {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
}
.right {
  -webkit-transform: rotateY(90deg) translateZ(150px);
}
