body {
 color: white;
 text-align: center;
 background: pink url('../../unit_3/images/plant2.png')
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  margin-bottom: 25px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
p {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}
a {
  color: white;
  font-size: 24px;
}
